<div class="jumbotron mt-4">
    <h1>MasQueJabones.com</h1>
    <p class="lead">Estos API son parte del BackEnd que alimenta la pagina MasQueJabones.com</p>
    <p><a href="@ViewBag.FrontEnd_URL" target="_blank" class="btn btn-primary btn-lg">Ir a MasQueJabones.com &raquo;</a></p>
</div>

